body {
		background-color: LightCyan;
		font-size: 20px;
		font-family: "Lato-Light"
}

h1 {
	font-size: 50px;
	font-family: Seville, sans-serif;
	text-align: center;
	color: DeepPink;
}

h2 {
	font-size: 25px;
}

p {
	font-size: 18px;
}

#data-collection div {
	min-height: 150px;
	background: Blue;
}

#section1 {
	display: grid;
	grid-gap: 15 px;
	grid-template-columns: repeat(2, 1fr);
}


.big-section p, div {
	vertical-align: top;
	display: inline-block;
}

#datastory {
	display: grid;
	grid-gap: 15px;
 	/* Change auto-fit to auto-fill  */
 	grid-template-rows: repeat(auto-fill, minmax(320px, 1fr));
 color: black;
}

#datastory section {
display: block;
	}